;; shadow-cljs configuration
{:deps {:aliases [:cljs]}

 :dev-http {8080 "public"}

 :builds
 {:app
  {:target :node-script
   :output-to "pandoc-watcher.js"
   :main pandoc.watcher.core/main
   :devtools {:after-load pandoc.watcher.core/reload}
   :release {:compiler-options {:optimizations :advanced}}
   }
  :ui
  {:target :browser
   :output-to "public"
   :asset-path "/js"
   :modules {:main {:init-fn pandoc.live.core/main}}}}}
